@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;  /* 10px */
}
 body{
    font-family:  'Montserrat', sans-serif;
}

ul li{
    list-style: none;
}
a{
    font-size: 1.6rem;
    text-decoration: none;
}

p, li{
    font-size: 1.6rem ;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
}

h1, h2,h3 {
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    font-weight: 500;
}

.header{
    height: 95vh; 
    position: relative;
    background: url('../img/img5.jpg'); 
    background-position: center;   
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar{
    padding: 1rem;
}
 .navbar .logo, .navbar a {
    color: white;
}
.navbar .logo {
    float: left; 
    padding-top:1.5rem;
    font-size: 2.5rem;
}
.navbar a:link,.navbar a:visited
{
    color: aquamarine;
}
.navbar a:hover{
    border-bottom: 2px solid white;
}
 .navbar .nav-item {
    float: right;
    display: inline-block;
    padding:1rem;
    text-transform: uppercase;
}
.navbar .nav-items{
    float:right;
    margin-top: 1rem;
}

.container {
    max-width: 1200px;
    width: 70%;
    margin :0 auto;
}
.navbar:after{
    content:'';
    display: block;
    clear: both;
}

nav{    
    background-color: rgb(6, 41, 0);
} 

.header .navbar li {
    display: inline-block;
    padding: 0px;
    margin-right: 60px;
}
/* -----------utility class----------- */
.bg-dark{
    background-color: #263238;
}
.lg-heading .text-black{
    color: black;
    font-size: 700;
}
.text-light{
    font-size: 300;
}
.btn {
    padding: 0.5em 1.5em;
    margin: 0.5em 0;
    font-weight: 500;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 25px;
}
.text-red {
    color: red;
}

/* ------------------header-content */
.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.header-content p {
 text-transform: uppercase;
 font-size: 300;
 font-weight: 500;
 color: white;
}
.header-content h1{
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}
.btn-primary{
    background-color: white;
}

.btn-secondary{
    background-color: white;
    border: 2px solid red;
    /* display: inline-block; */
    border-radius: 1.5em;
    color: red;
}

.btn-secondary:hover {
    background-color: #fcf3f2;
}

/* ----------------showcase section-------------------- */

.showcase{
    padding: 10rem 0;
    background: white;
}
/* .container{
    width: 120rem;
} */
.row{
    /* border: 2px solid red; */
    height:250px;
    background:white;
    box-shadow: 5px 5px 20px 0px #aaa;
    
}
.row1{
    margin-bottom:10rem;
}
.row1 .image-bx, .row2 .text-bx{
    float:left;
    width: 50%; 
}
.row1 .text-bx, .row2 .image-bx {
    float:right;
    width: 50%;
}

.row .image-bx{
/* border: 2px solid green; */
height: 100%;

} 
.row .text-bx{
    /* border: 2px solid red; */
    padding: 3rem;
    /* height: 100%; */
}
.row .image-bx img{
   display: inline-block;
   width: 100%;
   height: 100%;
    object-fit: cover;
}
.row .text-bx h1{
    margin-bottom: 5rem;
    margin-top: 0rem;
    font-size: 2rem;
}
/* --------------feature --------- */
.feature{
    padding:10rem 0rem;
}
 .box-wrapper{
    display: block;
    position: relative;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.581) ;
}
.box {
    width: 33.33%;
    float: left;
    /* border: 2px solid black; */
    padding: 0rem 2rem;
    text-align: center;
}
.box-wrapper::after{
    content: "";
    display:block;
    clear: both;
} 
.box1, .box3 {
    background-color: rgb(21, 21, 21);
    color: white;
}
.box2{
    background-color: red;
}
.footer{
    background-color: rgb(39, 38, 38);
    height: 15rem;
    /* display: flex; */
    
    /* align-content: center;
    align-items: center; */
   
}
.social-media-link{
   padding:2rem;
   padding-bottom: 0rem;
    text-align: center;
}
 .icon{
    padding:1rem 1rem 0rem 1rem;
}
.footer p{
     text-align: center;
     color: white;
    
}

/* -----------------About section styling------ */
.about{
    padding: 2rem 0;
}
.lg-heading{
    font-weight: 700;
    font-size: 2.5rem;
}
/* .about-heading{
   border-bottom: solid red 0.4rem;
   width:18% ;
} */

.about-heading::after{
    /* heading using psedudo element */
    content: "";
    border:0.2rem solid red;
    display: block;
    width: 100%;
    
}
.details{
    margin-top: 2rem;
    padding:0.5rem;
    display: block;
    position: relative;
    /* border: 2px solid black; */
    
}
.details::after{
    content: '';
    clear: both;    
    display: block;
    /* width: 100%; */
    /* height: 150px; */
}
.list{
   
    width: 50%;
    height: 100%;
    float: left;
    /* padding-left: 1.5rem; */
    text-align: center;
    /* border: 2px solid blue; */
}
.list .list1{
    position:absolute;
    float: left;
    width: 100%;
}
.list .list2{
    float: left;
    position:absolute;
    
    
}
.details li::before{
    content: '\2713';
    color: rgb(185, 51, 73);
    font-weight: bold;
    padding-right: 1rem;
}
/* .list ul li{
   list-style: circle;
} */

/* --------boxes class design---------- */
.boxess{
    display: block;
    position: relative;
    margin-top: 2rem;
    padding: 1rem;
    border: 2px solid red;

}
.boxess::after{
    content:'';
    clear: both;
    display: block;
}
.bo{
    width: 25%;
    float: left;
    text-align: center;
}

/* ------about section botttom----- */
.banner{
    display: block;
    position: relative;
    border:solid 2px black;
    margin-top: 5rem;
    background-color: rgba(245, 9, 9, 0.953);
}
.banner::after{
    content:"";
    display: block;
    clear:both;
    /* margin: 2rem; */
    /* width:60%; */
}
.banner .left {
float: left;
width: 60%;
/* position: absolute; */
/* border:solid 2px greenyellow; */
padding: 1rem;
margin: 1rem;
text-align: center;
}
.banner .right{
    width:20%;
    border:solid 2px white;
    text-align: center;
    padding: 1rem;
    margin:1rem;
    float: right;
}


/* -----------contact page styling */
.contact-wrapper{
    position: relative;
    display: block;
    margin-top: 5rem;
    background-color: rgb(210, 230, 247);
}
.contact-wrapper::after{
    content: '';
    clear: both;
    display: block;
}
.contact-wrapper .contact-l{
    /* border: 2px solid red; */
    float: left;
    width:49%;
    padding: 2rem;
    background-color: aliceblue;
}

.data h2{
    font-size: 2rem;
    margin:0.2rem;
}
.data{
    margin-bottom:2rem ;
}
.data h2 , .data p{
    color: rgba(246, 39, 39, 0.775);
}
.contact-wrapper .contact-l i{
    display: inline-block;
}
.contact-wrapper .contact-l h2{
    display: inline-block;
    text-transform: uppercase;
}
.contact-l img{
     width: 100%;
    height: 100%;  
}
.contact-wrapper .contact-l img{
    object-fit: cover;
    /* min-height:30rem; */
    
}
.contact-wrapper .contact-r{
    /* border: 2px solid green; */
    float: right;
    width: 49%;
    padding: 2rem;  
    background-color: aliceblue; 

}
.contact-wrapper .contact-r label{
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: left;
}
.contact-wrapper .contact-r input{

    margin-bottom: 0.5rem;
    width: 100%;
}
.contact-wrapper .contact-r textarea{
    width: 100%;
    height:28rem;
}
